/* Color-Scheme For All Themes*/

* {
    background:    #0B1120f2;
    background-alt:    #14213Aff;
    foreground:    #D9E7FFff;
    border:    #62A0EAff;
    selected:    #62A0EAff;
    urgent:    #F07178ff;
	logo:    #79C0FFff;
	on:    #75D6A5ff;
	off:    #F07178ff;
}
